<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>赞服务首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/dev/styles/sui.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1463019082_1278996.css">
    <script type='text/javascript' src='/dev/lib/sea/sea.js' charset='utf-8'></script>
    <script>
    	window.ZANFUWU = {
    		version:"dev",
    		staticDomain:""
    	}
    </script>
    <script type='text/javascript' src='/dev/lib/sea/config.js' charset='utf-8'></script>
  </head>
  <body>
    dfsdfsdfsd
  </body>
</html>